$black: #000000;
$dark-slate-gray: #0f1a1c;
$charcoal: #131313;
$cadet: #586f76;
$slate: #2b3c42;
$light-gray: #e5e5e5;
$gray: #7f7f7f;
$medium-gray: #d2dadd;
$white-smoke: #f2f4f5;
$ivory: #f9fafa;

$navy-blue: #053782;
$blue: #007bff;

$lime-green: #78c277;

$pale-violet-red: #b777c2;
$orange: #d73b18;

$ghost-white: #eaedef;
$white: #ffffff;
