@import 'src/app/styles/functions.scss';
@import 'src/app/styles/colors.scss';

.tagsInputContainer {
  display: flex;
  align-items: center;
  padding: to-rem(10);
  border: none;
  border-radius: to-rem(37);
  width: to-rem(753);
  height: to-rem(20);
  color: $cadet;
  padding: to-rem(9) to-rem(4) to-rem(9) to-rem(40);
  background: #eaedef url('../../../public/images/svg/search.svg') no-repeat
    to-rem(13);

  &:hover {
    border: 1px solid $blue;
    cursor: auto;
  }
}

.tagsInput {
  flex-grow: 1;
  padding: to-rem(8) 0;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 to-rem(5);
  background: #eaedef;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: to-rem(14);
}
