@import 'src/app/styles/functions.scss';
@import 'src/app/styles/colors.scss';

.communityData {
  display: flex;
  padding: 0 to-rem(15);
  gap: to-rem(10);

  div {
    display: flex;
    flex-direction: column;

    .dataTitle {
      color: $charcoal;
      font-size: to-rem(14);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .dataSubtitle {
      color: $cadet;
      font-size: to-rem(12);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .withIcon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: to-rem(4);
    align-items: center;
    cursor: pointer;
  }
}
