@import '../../styles/functions.scss';
@import '../../styles/colors.scss';

.feedContainer {
  padding: 25px;
  max-width: 750px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.communityData {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0f1a1c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #586f76;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dropdown {
  display: flex;
  gap: 3px;
  cursor: pointer;
}

.headerContainer {
  margin-bottom: 18px;
  padding: 0 15px;
}
