@import '../../styles/functions.scss';
@import '../../styles/colors.scss';

.sidebarContainer {
  border-right: to-rem(1) solid $medium-gray;
  height: calc(100vh - to-rem(72));
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  .content {
    padding: to-rem(15);
    width: to-rem(218);
  }
}
