@import '../../styles/functions.scss';
@import '../../styles/colors.scss';

.cdSpacing {
  padding: to-rem(25);
  padding-left: 0;
  width: to-rem(305);
}

.container {
  background: $ivory;
  border-radius: to-rem(10);
}

.contentContainer {
  padding-top: to-rem(15);
  display: flex;
  flex-direction: column;
  gap: to-rem(10);
}
