@import '../../styles/functions.scss';

.mainContainer {
  margin: auto;
  max-width: to-rem(1550);
}

.parent {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
